# EditorConfig defines and maintains consistent coding styles between different
# editors and IDEs: http://EditorConfig.org/

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
quote_type = double
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
