# EditorConfig defines and maintains consistent coding styles between different
# editors and IDEs: http://EditorConfig.org/

# Top-most EditorConfig file
root = true

# All files
[*]
# Widely Supported by Editors
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Supported By A Limited Number of Editors
max_line_length = 80

# Domain-Specific Properties
quote_type = double
spaces_around_operators = true
